.display-none {
    display: none !important;
}

/* ------------------- HEADER ------------------ */

#header {
    background: url(../../../global/images/header_bg.png) repeat-x left top #01205e;
    padding: 8px 2em;
    position: relative;
    z-index: 999;
    max-width: unset;
    text-align: center;
}

#header .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 58.75em) {
    #header {
        padding: 14px 0;
        text-align: left;
    }
}

.region-branding {
    width: 100%;
    display: none;
    text-align: center;
}

.region {
    position: relative;
}

@media screen and (min-width: 48.125em) {
    .region-branding {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 65.95745%;
        text-align: left;
        padding-top: 10px;
        display: block;
    }
}

#block-callusnumber {
    display: none;
}

@media screen and (min-width: 48.125em) {
    #block-callusnumber {
        display: block;
    }
}

@media screen and (min-width: 48.125em) {
    .region-header {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 31.91489%;
        text-align: right;
        padding-top: 21px;
    }

    .region-header:last-child {
        margin-right: 0;
    }
}

.large-call {
    font-size: 25px;
    color: #99ccff;
    font-weight: 400;
}

.text-brand {
    font-size: 40px;
    font-family: cursive !important;
}

.text-brand-blue {
    color: #0a3a5a !important;
}

.header {
    margin-top: 0px;
}

/* --------------------- /HEADER ------------------------- */

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #c9c9e5;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: #3F51B5;
}

::-webkit-scrollbar-thumb:hover {
    background: #afadad;
}

.main-container {
    min-height: auto !important;
}

.navigation-li-active {
    background-color: #f8f8f8;
    color: #222;
    border-left: 3px solid #4DD0E1;
    padding: 7px 20px 7px 17px;
}

.navigation-header {
    text-align: center;
    font-size: 19px !important;
    color: black !important;
    font-weight: bold !important;
    border: 1px solid #efeef1 !important;
    text-transform: none !important;
}

#event_list {
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
}

.panel-heading {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    border: 1px solid #efeef1 !important;
}

.panel-title {
    text-align: center;
    font-size: 19px !important;
    color: black !important;
    font-weight: bold !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.field-event-list {
    margin-bottom: 5px;
}

.field-new-event-btn {
    margin-bottom: 5px;
    text-align: center;
}

.field-logout-btn {
    text-align: center;
}

label {
    font-weight: 600 !important;
}

.ui-pnotify-text {
    font-size: 13px;
}

.candi-avatar {
    width: 100px !important;
    height: 100px !important;
    box-shadow: 1px 1px 1px 1px #33233323;
    padding: 3px;
    border-radius: 5px;
}

.candi-info {
    font-size: 12px;
}

.candi-photo {
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #33233323;
}

.sweet-alert {
    z-index: 999999 !important;
}

/* ---------------- Upload Banner --------------- */
.banner-img-preview {
    width: 100%;
    min-height: 150px;
    background-position: center center;
    /* background: url(../../images/new_user.png); */
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 1px 1px 0px 2px #4b454b14;
}

/* --------------- Upload Photo ------------------ */
.imagePreview {
    width: 150px;
    height: 150px;
    background-position: center center;
    background: url(../../images/new_user.png);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid grey;
}

.btn-photo-upload {
    display: block;
    border-radius: 0px;
    width: 120px;
    /* box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2); */
    margin-top: 5px;
    border-radius: 50px;
    color: #fff;
    background-color: #3F51B5;
    border-color: #3F51B5;
    margin-left: auto;
    margin-right: auto;
}

.imgUp {
    text-align: center;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

/* /Upload Photo */